fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
Pillow==11.1.0
mysql-connector-python==9.1.0
python-dotenv==1.0.1
paddleocr==3.2.0
paddlepaddle==3.2.0
numpy==2.2.2
open_clip_torch==2.31.0
torch==2.5.1
transformers==4.48.3

